* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html,
body {
    width: 100%;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
}

.app > h1 {
    margin-left: 14px;
}

form button {
    margin-left: 14px;
}

.editable input {
    padding: 4px 3px;
    width: 100%;
    box-sizing: border-box;
}

.editable textarea {
    padding: 5px 4px;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}

label {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label > span {
    width: 160px;
    height: 40px;
    line-height: 2em;
    font-weight: 600;
    padding-left: 5px;
}

.textValue {
    padding: 0px 5px;
}

.editable.textarea .textValue span {
    white-space: pre-line;
    line-height: 1.2em ;
}

.editable.textarea .textValue {
    padding-top: 6px;
}

ul {
 margin-left:14px;
 list-style-type: none;

 li {
    line-height: 1.8em;
 }
}



button {
    padding: 4px 10px
}

input,
textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

pre {
    margin-left: 14px;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (min-width: 541px) {
    label {
        flex-direction: row;
    }

    .textValue {
        width: 400px;
    }

    .editable input {
        width: 400px;
    }
    
    .editable textarea {
        width: 400px;
    }
}